<div class="vh-100">
  <div class="container-12 container-stats h-100">
    <div class="row justify-content-between mb-2">
      <div class="col-3 m-0 mt-3 ml-3">
        <input
          class="form-control form-control-sm m-0"
          id="filtro"
          placeholder="nombre, apellido, email  etc..."
          type="text">
      </div>
      <div class="col-4 m-0 px-4">
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <small class="input-group-text" for="inputClases">Clases</small>
          </div>
          <select class="custom-select" id="inputClases">
            <option class="letter" selected>Todas</option>
            <option value="1">Clasico</option>
            <option value="2">Zumba</option>
            <option value="3">Mami q tu qiere</option>
          </select>
        </div>
      </div>
      <div class="col-2 mt-3">
        <form>
          <div class="form-row align-items-center">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="pagados">
              <label class="custom-control-label" for="pagados">Pagados</label>
            </div>
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="impagos">
              <label class="custom-control-label" for="impagos">Impagos</label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary mt-3">
          <i class="fa fa-search p-0"></i>
        </button>
      </div>
    </div>
    <!-- <hr class="col-12 style-two"> -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Perez Mora</td>
          <td>Florencia</td>
          <td>2616565656</td>
          <td>Pagado</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>2616565656</td>
          <td>Pagado</td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the Bird</td>
          <td>2616565656</td>
          <td>Pagado</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
