<div class="container-12">
  <div class="row justify-content-between">
    <div class="col-4">
      <small>Busqueda</small>
      <input class="form-control form-control-sm ml-3" id="filtro" type="text">
    </div>
    <div class="col-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <small class="input-group-text" for="inputClases">Clases</small>
        </div>
        <select class="custom-select" id="inputClases">
          <option class="letter" selected>Todas</option>
          <option value="1">Clasico</option>
          <option value="2">Zumba</option>
          <option value="3">Mami q tu qiere</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12">
      <form>
        <div class="form-row align-items-center">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="impagos">
            <small class="custom-control-label" for="impagos">Impagos</small>
          </div>
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="pagos">
            <small class="custom-control-label" for="pagos">Pagos</small>
          </div>
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="extra">
            <small class="custom-control-label" for="extra">extra</small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
