<div class="vh-100">
  <div class="container-12 container-stats h-100">
    <div class="row justify-content-between mb-2">
      <div class="col-3  m-0 mt-3 ml-3">
        <input
          class="form-control m-0"
          id="filtro"
          placeholder="nombre, apellido, email  etc..."
          type="text">
      </div>
      <div class="col-4 m-0 px-4">
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <small class="input-group-text" for="inputClases">Clases</small>
          </div>
          <select class="custom-select" id="inputClases">
            <option class="letter" selected>Todas</option>
              <option *ngFor="let curso of cursos; let i = index" value="i">{{curso.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="col-2 mt-3">
        <form>
          <div class="form-row align-items-center">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="pagados" checked>
              <label class="custom-control-label" for="pagados">Pagados</label>
            </div>
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="impagos" checked>
              <label class="custom-control-label" for="impagos">Impagos</label>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
        <div class="row justify-content-center mr-5">
          <div class="col-4 m-0 mr-3">
            <button type="button" class="btn btn-primary mt-3" (click)="openModalCrearAlumno(template)">
              <i class="fa fa-plus p-0"></i>
            </button>
          </div>
          <div class="col-4 m-0"> 
            <button type="button" class="btn btn-primary mt-3">
              <i class="fa fa-search p-0"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <hr class="col-12 style-two"> -->  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Estado</th>
          <!-- <th scope="col">Acciones</th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!alumnos.length">
          <th class="text-center" colspan="2">No se han encontrado resultados</th>
        </tr>
        <tr *ngFor="let alumno of alumnos; let i = index">
          <td class="p-1">
            <p class="text-smaller">
              <small class="pl-2">{{alumno.apellido}}</small>
            </p>
          </td>
          <td class="p-1">
            <p class="text-smaller">
              <small class="pl-2">{{alumno.nombre}}</small>
            </p>
          </td>
          <!-- <td>{{alumno.apellido}}</td>
          <td>{{alumno.nombre}}</td> -->

          <td *ngIf="alumno.telefono">{{alumno.telefono}}</td>
          <td *ngIf="!alumno.telefono" class="pl-5">-</td>
          
          <td>{{alumno.pagado}} </td>
          <td>
            <i class="fa fa-info-circle mr-1" (click)="openModalInfo(templateInfo)"></i>
            <i class="fa fa-pencil-square mr-1" (click)="openModalEdit(templateEdit)"></i>
            <i class="fa fa-calendar-check-o" (click)="openModalHistorial(templateHistorial)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-header mt-0">
    <h4><small>Crear Alumno</small></h4>
  </div>
  <div class="modal-body rounded mt-2 mb-2">
    <div class="input-group input-group-sm mb-2">
      <input
        type="text"
        class="form-control input-sm"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Apellido"
        autocomplete="off">
    </div>
    <div class="input-group input-group-sm mb-2">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Nombre"
        autocomplete="off">
    </div>
    <div class="input-group input-group-sm mb-2">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Telefono">
    </div>
    <div class="input-group input-group-sm mb-2">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Email">
    </div>
    <div class="input-group input-group-sm mb-2">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="DNI">
    </div>
    <div class="row justify-content-between">
      <div class="col-6 mb-2">
        <div class="input-group input-group-sm">
          <select class="custom-select p-1" id="clase1">
            <option class="letter" selected>Clase 1</option>
            <option value="1">Clasico</option>
            <option value="2">Zumba</option>
            <option value="3">Mami q tu qiere</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm">
          <select class="custom-select m-0 p-1" id="frecuencia1">
            <option class="letter" selected>Cantidad</option>
            <option value="1">1 vez x semana</option>
            <option value="2">2 veces x semana</option>
            <option value="3">3 veces x semana</option>
            <option value="4">4 veces x semana</option>
            <option value="5">Pase libre</option>
          </select>
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="input-group input-group-sm my-0 py-0">
          <select class="custom-select m- p-1" id="clase2">
            <option class="letter" selected>Clase 2</option>
            <option value="1">Clasico</option>
            <option value="2">Zumba</option>
            <option value="3">Mami q tu qiere</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm my-0 py-0">
          <select class="custom-select m-0 p-1" id="frecuencia2">
            <option class="letter" selected>Cantidad</option>
            <option value="1">1 vez x semana</option>
            <option value="2">2 veces x semana</option>
            <option value="3">3 veces x semana</option>
            <option value="4">4 veces x semana</option>
            <option value="5">Pase libre</option>
          </select>
        </div>
      </div>
      <div class="col-6 mb-2">
        <div class="input-group input-group-sm my-0 py-0">
          <select class="custom-select m-0 p-1" id="clase3">
            <option class="letter" selected>Clase 3</option>
            <option value="1">Clasico</option>
            <option value="2">Zumba</option>
            <option value="3">Mami q tu qiere</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm my-0 py-0">
          <select class="custom-select m-0 p-1" id="frecuencia3">
            <option class="letter" selected>Cantidad</option>
            <option value="1">1 vez x semana</option>
            <option value="2">2 veces x semana</option>
            <option value="3">3 veces x semana</option>
            <option value="4">4 veces x semana</option>
            <option value="5">Pase libre</option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-group">
      <textarea class="form-control" aria-label="With textarea" placeholder="Datos extra"></textarea>
    </div>
    <div class="row justify-content-center mt-4">
      <i class="fa fa-times-circle fa-3x fa-lg mr-3" style="color: red;" (click)="close()"></i>
      <i class="fa fa-check-circle fa-3x fa-lg" style="color: rgb(34, 218, 34);"></i>
    </div>
  </div>
</ng-template>

<ng-template #templateInfo>
  <div class="modal-header mt-0">
    <h4><small>Información</small></h4>
  </div>
  <div class="modal-body rounded mt-2 mb-2">
    infooooooo..
    <div class="col align-self-end px-1">
      <div class="form-group m-0">
        <input
          type="text"
          readonly
          placeholder="asdasd"
          class="text-center badge-pill form-control form-control-xs">
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateEdit>
  <div class="modal-header mt-0">
    <h4><small>Información</small></h4>
  </div>
  <!-- <div class="modal-body rounded mt-2 mb-2">
    infooooooo..
  </div> -->
  <!-- <ngb-pagination>
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
  </ngb-pagination> -->

</ng-template>

<ng-template #templateHistorial>
  <div class="modal-header mt-0">
    <h4><small>Información</small></h4>
  </div>
  <div class="modal-body rounded mt-2 mb-2">
    infooooooo..
  </div>
</ng-template>
